.login-modal {
  background: #fefefe;
  width: 500px;
  margin: 0 auto;
  padding: 48px;
  /* border: 1px solid var(--charcoal); */
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Forms */

.form-field {
  margin-bottom: 24px;
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 12px;
}

.form-field input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-field input:focus,
textarea:focus {
  outline: none;
  border-color: var(--brass);
}

.form-field button {
  height: 40px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background: var(--brass);
  color: var(--matte-black);
  cursor: pointer;
}

.form-field button:hover {
  background: var(--almond);
}

.form-field button:active {
  background: var(--charcoal);
}

/* Form error toast */

.form-error {
  background: var(--pastel-red);
  color: var(--burgundy);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 24px;
}
