:root {
  /* Colors are from https://htmlcolorcodes.com/colors/ */

  --off-white: #faf9f6;
  --charcoal: #36454f;
  --onyx: #353935;
  --matte-black: #28282b;
  --brass: #e1c16e;
  --almond: #eaddca;

  /* Shades of red */
  --pastel-red: #faa0a0;
  --burgundy: #800020;
}
