@import url("reset.css");
@import url("colors.css");
@import url("utilities.css");
@import url("fonts.css");

/* Components */
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/hero.css");

/* Main styles */
.body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.main {
  /* flex: 1; */
}

/* img {
  border-style: none;
  vertical-align: middle;
} */

/* input,
textarea,
option,
button {
  font-family: "Raleway", sans-serif;
} */

.row {
  float: left;
  width: 100%;
}

.col-left {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid #ccc; */
}
.col-right {
  margin-left: 31%;
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid #ccc; */
}

@media (max-width: 786px) {
  .col-left,
  .col-right {
    float: none;
    width: 100%;
    margin-left: 0; /* Reset the margin */
  }
}
